In [1]:
import numpy as np
import pandas as pd
D = np.random.randn(4,4)
R = np.random.randn(4,4)
framefile = pd.DataFrame(data = D)
print('The first table is:', '\n',framefile)
framefile2 = pd.DataFrame(data = R)
print('The second table is:', '\n',framefile2)
framefile3 = framefile+framefile2
print('The third table, which is the sum of the first and second tables, is:', '\n',framefile3)
framefile3.drop(3,axis = 1)

The first table is:
           0         1         2         3
0  0.619038  1.271438  0.721988  1.523947
1  1.147199 -1.041049  0.767786 -0.842742
2  0.271973  0.859720  0.836535 -0.745620
3 -0.538185  0.216019 -1.453922  0.321943
The second table is:
           0         1         2         3
0  1.698906  2.100118  0.628057  0.006789
1 -0.893996 -1.070716  1.001877  1.846617
2  1.405733 -0.071738  0.118419  1.486989
3 -0.519996 -0.668519  0.234230  0.942479
The third table, which is the sum of the first and second tables, is:
           0         1         2         3
0  2.317944  3.371556  1.350045  1.530736
1  0.253202 -2.111765  1.769663  1.003875
2  1.677706  0.787982  0.954954  0.741369
3 -1.058181 -0.452501 -1.219692  1.264422

          0         1         2
0  2.317944  3.371556  1.350045
1  0.253202 -2.111765  1.769663
2  1.677706  0.787982  0.954954
3 -1.058181 -0.452501 -1.219692