In [1]:
#problem 1
import numpy as np
a = np.random.randn(4,5)
a[1]= np.zeros(1)
a[:,2]=np.zeros(1)
a

array([[-1.07834622,  0.34090712,  0.        , -0.09444717,  0.68017391],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.96824199,  1.35507894,  0.        , -0.89230812, -1.42351474],
       [-0.06450013, -0.01243104,  0.        , -0.52762709,  0.99135295]])

In [2]:
#problem 2
import numpy as np
b = np.arange(1,101).reshape(10,10)
a = b[:,[1,3,5,7,9]].T
a

array([[  2,  12,  22,  32,  42,  52,  62,  72,  82,  92],
       [  4,  14,  24,  34,  44,  54,  64,  74,  84,  94],
       [  6,  16,  26,  36,  46,  56,  66,  76,  86,  96],
       [  8,  18,  28,  38,  48,  58,  68,  78,  88,  98],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])

In [3]:
#problem 3
import numpy as np
import pandas as pd
s = pd.date_range(start= '8/20/2018', end= '10/22/2018', freq= 'W-Mon')
s = pd.Series(range(10), index= s)
s

2018-08-20    0
2018-08-27    1
2018-09-03    2
2018-09-10    3
2018-09-17    4
2018-09-24    5
2018-10-01    6
2018-10-08    7
2018-10-15    8
2018-10-22    9
Freq: W-MON, dtype: int64

In [4]:
#problem 4
import numpy as np
import pandas as pd
a = np.arange(1,17).reshape(4,4)

frame = pd.DataFrame(data = a, columns=['a','b','c','d'],
                      index=['2018Q1','2018Q2','2018Q3','2018Q4'])
frame

         a   b   c   d
2018Q1   1   2   3   4
2018Q2   5   6   7   8
2018Q3   9  10  11  12
2018Q4  13  14  15  16